<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987413801234-kncvl6a99rlolihhdoqahkg9dkgsrl08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987413801234-kncvl6a99rlolihhdoqahkg9dkgsrl08</string>
	<key>API_KEY</key>
	<string>AIzaSyCj-pU_gc-qkjHborhJrMFxVjl7BKHxVgM</string>
	<key>GCM_SENDER_ID</key>
	<string>987413801234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lastivky.community.app</string>
	<key>PROJECT_ID</key>
	<string>community-lastivky</string>
	<key>STORAGE_BUCKET</key>
	<string>community-lastivky.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987413801234:ios:e7cf647475b1292644abcb</string>
</dict>
</plist>