<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63100897575-redivdftr44v1p0hcslk2ebja06bujbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63100897575-redivdftr44v1p0hcslk2ebja06bujbl</string>
	<key>API_KEY</key>
	<string>AIzaSyBpKd8C00ksWvqsb66szRwqNXuU2O47pzw</string>
	<key>GCM_SENDER_ID</key>
	<string>63100897575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lastivky.community</string>
	<key>PROJECT_ID</key>
	<string>community-2ce28</string>
	<key>STORAGE_BUCKET</key>
	<string>community-2ce28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63100897575:ios:3760fd2e9645b840408102</string>
</dict>
</plist>